<h1>Listing papers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @papers.each do |paper| %>
  <tr>
    <td><%= paper.title %></td>
    <td><%= paper.description %></td>
    <td><%= link_to 'Show', paper %></td>
  </tr>
<% end %>
</table>
